[discord]
TOKEN=
PREFIX=!
KUDOS_ID=<:ID:wumpusheart>
KUDOS_REACTION_ID=
LIVE=0

[level-roles]
lvl_10=Tide Mouse
lvl_20=Twig
lvl_30=Vittra
lvl_40=Forest Giant
lvl_50=Adventurer
lvl_60=Sparrow Scout
lvl_70=Johanna
lvl_80=Librarian
lvl_90=Marra
lvl_100=Mad Scientist
