[discord]
TOKEN=
PREFIX=!
KUDOS_ID=<:780575370834477087:WumpusHeart>
KUDOS_REACTION_ID=780575370834477087
LIVE=0

[level-roles]
lvl_10=Wumpus
lvl_20=Nelly
lvl_30=Peppe
lvl_40=Clyde
lvl_50=Cap
lvl_60=Rumi
lvl_70=Leif
lvl_80=Graggle
lvl_90=Froggie
lvl_100=Tipp
